body {
  max-width: 600px;
  margin: 0 auto;
}

.section {
  min-height: 50vh;
}

.black {
  background: black;
  color: white;
}
.gray {
  background: #2b2b2b;
  color: lightgray;
}
.dark-gray {
  background: #191919;
  color: lightgray;
}
.white {
  background: white;
  color: black;
}

.height-100 {
  min-height: 100vh;
}
.height-50 {
  min-height: 50vh;
}
.height-25 {
  min-height: 25vh;
}
